/* universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* sets background color */ 
body {
    background-color: #d9dcd6;
}

/* applies to main header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets h1 tag criteria  */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* this class specifically changes the color of the words seo in the h1 header */
.header h1 .seo {
    color: #d9dcd6;
}
/* sets navigation menu criteria */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* sets ul tag criteria */
.header nav ul {
    list-style-type: none;
}

/* sets li  tag criteria */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets anchor tag criteria */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets paragraph tag criteria */
p {
    font-size: 16px;
}

/* sets background image criteria */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* aligns text in main sections */
.float-left {
    float: left;
    margin-right: 25px;
}

/* aligns text in main sections */
.float-right {
    float: right;
    margin-left: 25px;
}

/* ensures content in main section occupies only 75% of screen */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sets benefits asides criteria */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets benefit class bottom margin and color */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets benefit h3 class bottom margin and text placement */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styles benefit class images */ 
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styles article class */
.article-class {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets first article image size */
.article-class img {
    max-height: 200px;
}

/* sets first image margin and font size */
.article-class h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets footer element criteria */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets footer font size */
.footer h2 {
    font-size: 20px;
}
